<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_item_root" name="Hospital"/>


    <menuitem id="menu_front_desk" name="Front Desk" parent="menu_item_root" sequence="1"/>
    <menuitem id="menu_front_emergency" name="Emergency" parent="menu_item_root" sequence="2"/>
    <menuitem id="menu_patient_front_desk" name="Patient" parent="menu_front_desk" action="action_hospital_patient"/>
    <menuitem id="menu_patient_emergency" name="Patient" parent="menu_front_emergency" action="action_hospital_patient"/>
    <menuitem id="menu_doctor" name="Doctor" parent="menu_front_desk" action="action_hospital_doctor"/>
</odoo>